<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Conference Management Software</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class ="backgroundRegisterAccount">
    <form class="register-form">
        <div class="form">
            <h1> Register Account Form</h1>
                <input type="text" placeholder="Username"/>
                <input type="password" placeholder="Password"/>
                <input type="text" placeholder="Email address"/>
                <button>create</button>
                <p class="message">Already registered? <a href="CLoginPage.html">Sign In</a></p>
        </div>
    </div>
    </form>
</body>
</html>