<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Conference Management Software</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<div class ="backgroundCLoginPage">
  <div></div>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <div>
          <img src="CMS.png">
        </div>
        <p> Staff Login </p>
        <input type="text" placeholder="StaffID"/>
        <input type="password" placeholder="Password"/>
        <button>login</button>
        <p class="message">Not a staff?<a href="CLoginPage.html"> Customer Login</a> </p>
      </form>
    </div>
  </div>
</div>

</body>
</html>